<footer>
    <div class="footer">
      <div class="container">
          <ul class="footer_menu">
              <li class="navbar-brand　glyphicon" ><%= link_to "このサイトについて","/about_site" %></li>
              <li class="navbar-brand　glyphicon" ><%= link_to "サイト規約","/sitepolicy" %></li>
              <li class="navbar-brand　glyphicon" ><%= link_to "問い合わせメール","/form" %></li>
          </ul>
          <a href="https://twitter.com/test_shere_btn?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @test_shere_btn</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <div class="footer-copyright clearfix text-center">
          <p>&copy; Pict-ups</p>
        </div>
      </div>
     </div>  
</footerÏ