
  
 

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
          <ul class="list-group panel">
            <li class="list-group-item text-center"><i class="glyphicon glyphicon-align-justify"></i>サイトメニュー</li>
            <li>
              <a href="#mail" class="list-group-item" data-toggle="collapse"></i>開く<span class="glyphicon glyphicon-chevron-right"></span></a>
                <li class="collapse pl10 pr10" id="mail">
                  <%= link_to "このサイトについて","/about_site",  :class => "list-group-item" %>
                  <%= link_to "サイト規約","/sitepolicy",  :class => "list-group-item" %>
                　<%= link_to "問い合わせメール","/form",  :class => "list-group-item" %>  
                </li>
            </li>
          </ul>
        </div>