*{
    margin:0;
    padding:0;
    border:none;

}


.footer_menu{
    display: flex;
    color: #aaabae ;
    text-align: right;
    justify-content: flex-end;
    li{
        
        list-style-type: none;
        padding: 0 5px;
        font-size: 16px;
        a:hover {
            color: #fff;
            background-color: #2B303A;
        }    
    }
     
}


.picture_display{
    text-align: center !important;
}



.site_text{
    font-size: 18px;
    text-align: center;
}

.footer_menu > li > a{
    text-align: left;
    color: #aaabae !important;
    font-size: 12px;
    :hover{
        color: #fff;
        background-color: #2B303A;  
    }
  
}